<?xml version="1.0" encoding="utf-8"?>
<!--
  Windows 11 Enterprise unattended setup answer file for the VhdxManager E2E
  test rig. Bootstrap-VM.ps1 substitutes {PASSWORD} before packing this file
  into autounattend.iso.

  Goals:
    * Skip every OOBE prompt (region, keyboard, MSA login, telemetry, ...).
    * Create a single local admin account (vhdxtest) for tests.
    * Auto-logon that account once so FirstLogon.ps1 can run.
    * Bypass NRO so Win11 24H2 doesn't insist on a Microsoft account.
    * Use the Enterprise generic install key (NPPR9-...). Eval install does
      not need activation; this key only authorises the installer to proceed.
-->
<unattend xmlns="urn:schemas-microsoft-com:unattend">
	<settings pass="windowsPE">
		<component name="Microsoft-Windows-International-Core-WinPE" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<SetupUILanguage>
				<UILanguage>en-US</UILanguage>
			</SetupUILanguage>
			<InputLocale>en-US</InputLocale>
			<SystemLocale>en-US</SystemLocale>
			<UILanguage>en-US</UILanguage>
			<UserLocale>en-US</UserLocale>
		</component>
		<component name="Microsoft-Windows-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<DiskConfiguration>
				<Disk wcm:action="add">
					<DiskID>0</DiskID>
					<WillWipeDisk>true</WillWipeDisk>
					<CreatePartitions>
						<CreatePartition wcm:action="add">
							<Order>1</Order>
							<Type>EFI</Type>
							<Size>300</Size>
						</CreatePartition>
						<CreatePartition wcm:action="add">
							<Order>2</Order>
							<Type>MSR</Type>
							<Size>16</Size>
						</CreatePartition>
						<CreatePartition wcm:action="add">
							<Order>3</Order>
							<Type>Primary</Type>
							<Extend>true</Extend>
						</CreatePartition>
					</CreatePartitions>
					<ModifyPartitions>
						<ModifyPartition wcm:action="add">
							<Order>1</Order>
							<PartitionID>1</PartitionID>
							<Format>FAT32</Format>
							<Label>System</Label>
						</ModifyPartition>
						<ModifyPartition wcm:action="add">
							<Order>2</Order>
							<PartitionID>2</PartitionID>
						</ModifyPartition>
						<ModifyPartition wcm:action="add">
							<Order>3</Order>
							<PartitionID>3</PartitionID>
							<Format>NTFS</Format>
							<Label>Windows</Label>
							<Letter>C</Letter>
						</ModifyPartition>
					</ModifyPartitions>
				</Disk>
			</DiskConfiguration>
			<ImageInstall>
				<OSImage>
					<InstallTo>
						<DiskID>0</DiskID>
						<PartitionID>3</PartitionID>
					</InstallTo>
					<InstallFrom>
						<MetaData wcm:action="add">
							<Key>/IMAGE/NAME</Key>
							<Value>{IMAGE_NAME}</Value>
						</MetaData>
					</InstallFrom>
				</OSImage>
			</ImageInstall>
			<UserData>
				<!--
					Generic Volume License key for Windows 11 Enterprise. Eval images
					accept this for installation; activation is irrelevant for tests.
				-->
				<ProductKey>
					<Key>NPPR9-FWDCX-D2C8J-H872K-2YT43</Key>
					<WillShowUI>Never</WillShowUI>
				</ProductKey>
				<AcceptEula>true</AcceptEula>
				<FullName>vhdxtest</FullName>
				<Organization>VhdxManagerE2E</Organization>
			</UserData>
		</component>
	</settings>

	<settings pass="specialize">
		<component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<ComputerName>VHMGRTEST</ComputerName>
			<RegisteredOwner>vhdxtest</RegisteredOwner>
			<RegisteredOrganization>VhdxManagerE2E</RegisteredOrganization>
			<TimeZone>UTC</TimeZone>
		</component>
		<component name="Microsoft-Windows-Deployment" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<RunSynchronous>
				<!--
					BypassNRO: prevents Windows 11 24H2 OOBE from forcing a Microsoft
					account / live network. Required even on Enterprise editions.
				-->
				<RunSynchronousCommand wcm:action="add">
					<Order>1</Order>
					<Path>cmd /c reg add "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\OOBE" /v BypassNRO /t REG_DWORD /d 1 /f</Path>
					<Description>BypassNRO</Description>
				</RunSynchronousCommand>
				<!--
					Copy our FirstLogon.ps1 from whichever DVD drive holds the
					autounattend ISO (drive letter is not deterministic). The script
					is then invoked from a stable C:\Setup path during oobeSystem.
				-->
				<RunSynchronousCommand wcm:action="add">
					<Order>2</Order>
					<Path>cmd /c md C:\Setup &amp; for %i in (D E F G H) do if exist %i:\FirstLogon.ps1 copy /Y %i:\FirstLogon.ps1 C:\Setup\FirstLogon.ps1</Path>
					<Description>Stage FirstLogon</Description>
				</RunSynchronousCommand>
			</RunSynchronous>
		</component>
	</settings>

	<settings pass="oobeSystem">
		<component name="Microsoft-Windows-International-Core" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<InputLocale>en-US</InputLocale>
			<SystemLocale>en-US</SystemLocale>
			<UILanguage>en-US</UILanguage>
			<UserLocale>en-US</UserLocale>
		</component>
		<component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<UserAccounts>
				<LocalAccounts>
					<LocalAccount wcm:action="add">
						<Name>vhdxtest</Name>
						<DisplayName>vhdxtest</DisplayName>
						<Group>Administrators</Group>
						<Password>
							<Value>{PASSWORD}</Value>
							<PlainText>true</PlainText>
						</Password>
					</LocalAccount>
				</LocalAccounts>
			</UserAccounts>
			<AutoLogon>
				<Username>vhdxtest</Username>
				<Password>
					<Value>{PASSWORD}</Value>
					<PlainText>true</PlainText>
				</Password>
				<Enabled>true</Enabled>
				<!-- 3 logons covers FirstLogon + a couple of post-install reboots. -->
				<LogonCount>3</LogonCount>
			</AutoLogon>
			<OOBE>
				<HideEULAPage>true</HideEULAPage>
				<HideLocalAccountScreen>true</HideLocalAccountScreen>
				<HideOEMRegistrationScreen>true</HideOEMRegistrationScreen>
				<HideOnlineAccountScreens>true</HideOnlineAccountScreens>
				<HideWirelessSetupInOOBE>true</HideWirelessSetupInOOBE>
				<!-- ProtectYourPC=3 = "use express settings", skips telemetry prompt. -->
				<ProtectYourPC>3</ProtectYourPC>
				<NetworkLocation>Work</NetworkLocation>
			</OOBE>
			<FirstLogonCommands>
				<SynchronousCommand wcm:action="add">
					<Order>1</Order>
					<CommandLine>powershell -NoProfile -ExecutionPolicy Bypass -File C:\Setup\FirstLogon.ps1</CommandLine>
					<Description>VhdxManager E2E first-boot</Description>
				</SynchronousCommand>
			</FirstLogonCommands>
		</component>
	</settings>
</unattend>
