<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

	<Fragment>
		<ComponentGroup Id="ServiceComponents" Directory="ServiceFolder">

			<!-- Service executable: explicit component for ServiceInstall metadata -->
			<Component Id="ServiceExeComponent" Guid="*">
				<File Id="ServiceExe"
					Source="!(bindpath.ServicePublish)VhdxCow.Service.exe"
					KeyPath="yes" />

				<ServiceInstall
					Id="VhdxCowServiceInstall"
					Name="VhdxCowService"
					DisplayName="VHDX Copy-on-Write Service"
					Description="Manages VHDX differencing disks for git worktree Copy-on-Write support"
					Type="ownProcess"
					Start="auto"
					Account="LocalSystem"
					ErrorControl="normal"
					Vital="yes" />

				<ServiceControl
					Id="VhdxCowServiceControl"
					Name="VhdxCowService"
					Start="install"
					Stop="both"
					Remove="uninstall"
					Wait="yes" />

				<util:ServiceConfig
					ServiceName="VhdxCowService"
					FirstFailureActionType="restart"
					SecondFailureActionType="restart"
					ThirdFailureActionType="none"
					RestartServiceDelayInSeconds="60"
					ResetPeriodInDays="1" />

				<!-- Event Log source registration -->
				<util:EventSource
					Name="VhdxCow"
					Log="Application"
					EventMessageFile="[#ServiceExe]" />
			</Component>

			<!-- All other service files (DLLs, deps.json, runtimeconfig.json, etc.) -->
			<Files Include="!(bindpath.ServicePublish)**">
				<Exclude Files="!(bindpath.ServicePublish)VhdxCow.Service.exe" />
				<Exclude Files="!(bindpath.ServicePublish)**\*.pdb" />
				<Exclude Files="!(bindpath.ServicePublish)appsettings.json" />
			</Files>

		</ComponentGroup>
	</Fragment>

</Wix>
